@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
    --brand-light: #ea8245;
    --brand-dark: #403836;
    --brand-grey-line: #92736e;
    --brand-grey-text: #92736e;
}

body {
    background-color: rgb(245, 232, 215);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container-header {
    display: block;
    background-color: var(--brand-dark);
    position: relative;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.container-nav {
    top: 0;
    left: 0;
    height: 5.5rem;
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 10px 0;
    z-index: 99;

}

nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 6rem;
    align-items: center;
    z-index: 1;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

nav button {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 12px 12px;
    cursor: pointer;
    text-decoration: none;
    color: var(--brand-dark);
}

nav li a:hover {
    font-weight: bold;
}

.link-nav {
    border-bottom: 3px solid white;
}

.link-nav:hover {
    border-bottom: 3px solid var(--brand-light);
}

nav img {
    width: 184px;
    cursor: pointer;
}

header .destaque-header {
    max-width: 1080px;
    margin: 12rem auto 0 auto;
}

.paragrafo-destaque {
    margin-bottom: 2rem;
    max-width: 500px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--brand-dark);
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--brand-light);
    margin: 5rem 0 0;
    margin-top: 5rem;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--brand-dark);
}

.cta {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    background-color: var(--brand-light);
    border: solid 1px #ea8245;
    border-radius: 100px;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.cta-secundario {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--brand-light);
    background-color: transparent;
    border-radius: 100px;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.btn-secundario {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 100px;
    padding: 0.8rem 2rem;
    cursor: pointer;
    margin-left: 1rem;
}

/* ________________________CONTATO________________________ */

#contato {
    justify-content: center;
    padding-top: 2.5rem;
}

.contato-title {
    padding-top: 3rem;
    text-align: center;
}

#contato h2 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#contato h3 {
    font-size: 2.5rem;
}

#contato p {
    color: var(--brand-grey-text);
    margin-bottom: 2rem;
}

#contato label {
    color: var(--brand-grey-text);
    font-size: 1.125rem;
}

.container-form {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.container-form input,
textarea,
select {
    background-color: rgba(148, 120, 120, 0.205);
    padding: 2px 15px;
    border: solid 1px var(--brand-grey-line);
    border-radius: 10px;
    height: 3.6rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
}

.container-form input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: solid 1px var(--brand-light);
}

textarea {
    height: 100px;
}

#paises {
    width: 200px;
    height: 45px;
}

.telefone {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.telefone-container {
    width: 100%;
}

#telefone {
    width: 100%;
}

select {
    width: 100px;
    margin-right: 1rem;
    height: 1.8rem;
}

#mensagem {
    padding: 15px 10px;
}

.container-checkbox {
    display: flex;
    width: 400px;
    align-items: center;
}

#concordo {
    width: 1rem;
    margin-right: 0.5rem;
}

.checkbox-btn {
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 100;
}

input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

div .btn-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto;
}

.btn-enviar {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    background-color: var(--brand-light);
    border: solid 1px var(--brand-light);
    border-radius: 100px;
    padding: 0.8rem 4rem;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

.btn-enviar:hover {
    box-shadow: 0px 0px 10px black;
    transform: scale(1.025);
}

/* ________________________FOOTER________________________ */

footer {
    display: flex;
    background-color: var(--brand-dark);
    justify-content: space-between;
    align-items: center;
    height: 96px;
    z-index: 1;
    margin-top: 3rem;
}

footer ul {
    display: flex;
    list-style: none;
    align-items: center;
}

footer ul li a {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 12px 12px;
    margin: 0 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-bottom: 3px solid var(--brand-dark);
}

.link-footer {
    border-bottom: 3px solid var(--brand-dark);
}

.link-footer:hover {
    border-bottom: 3px solid var(--brand-light);
}

footer li a:hover {
    font-weight: bold;
}

footer img {
    width: 184px;
    cursor: pointer;
}

.container-footer {
    display: flex;
    width: 1080px;
    justify-items: center;
    justify-content: space-between;
    margin: auto;
}

.container-footer p {
    color: var(--brand-grey-line);
    cursor: none;
    opacity: 0.5;
    font-size: 0.8rem;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    /* ____header____ */

    header {
        width: 100%;
    }

    header .btn-secundario {
        display: none;
    }

    .container-nav nav {
        padding-top: 0;
    }

    .destaque-header {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .item-nav {
        display: none;
    }

    .login-btn {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu {
        background-color: var(--brand-dark);
        height: 100vh;
        text-align: center;
        width: 100%;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu ul li a {
        color: white;
        text-decoration: none;
    }

    .mobile-menu .item-nav {
        display: block;
        padding-top: 3rem;
    }

    .mobile-menu .login-btn {
        display: block;
        margin-top: 2rem;
    }

    .mobile-menu .login-btn button {
        width: 100%;
    }

    nav {
        display: flex;
        width: 80%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: auto;
    }

    nav button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    nav button img {
        width: 2rem;
    }

    .paragrafo-destaque {
        margin: 0 auto;
        margin-bottom: 2rem;
        max-width: 500px;
    }

    /* ____contato____ */

    #contato {
        transform: scale(0.8);
    }

    .contato-title {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* ____footer____ */

    footer {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    footer ul {
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 0;
    }

    footer ul li {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer ul li a:hover {
        border: none;
    }

    .container-footer {
        display: block;
        text-align: center;
    }

}

@media screen and (max-width: 650px) {
    .container-form {
        max-width: 300px;
    }
    #paises {
        max-width: 100px;
    }
}

@media screen and (max-width: 450px) {
    .container-nav nav {
        transform: scale(0.8);
        z-index: 99;

    }
    .container-form {
        max-width: 200px;
    }
    #paises {
        max-width: 50px;
    }
    .checkbox-btn {
        max-width: 200px;
    }
    .btn-enviar {
        max-width: 150px;
    }
}