@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  display: block;
}
h1,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itensContainer, .porta1, .porta2 {
  display: flex;
}
#resultado,#pontuacaoAtual {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.acabou{
  height: 30px;
}
.reveal{
  background-image: url(./assets/porta_1/idle/reveal_1_5.png);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.value{
  position: absolute;
  width: 200px;
  height: 100px;
  font-size: 80px;
  border-radius: 8px;
}
.others{
  position: absolute;
  width: 200px;
  height: 100px;
  font-size: 80px;
  border-radius: 8px;
}
.btn-refresh{
  background-color: transparent;
  border: none;
}
.container-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-refresh img{
  cursor: pointer;
  width: 80px;
  height: 80px;
}