@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  display: block;
}
h1,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itensContainer {
  display: flex;
}
#resultado,#pontuacaoAtual {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}
.item {
  cursor: pointer;
}
.btn-refresh{
  background-color: transparent;
  border: none;
}
.container-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-refresh img{
  width: 80px;
  height: 80px;
}